@import url('https://fonts.googleapis.com/css?family=Montserrat:100');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background:linear-gradient(rgb(228, 218, 218), rgba(189, 178, 178, 0.9)),  url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0f57ce83-c7df-40bd-8332-d04ca17322f5/d1bed6i-b7bb32d0-89cf-49ae-8211-992c26e928cd.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBmNTdjZTgzLWM3ZGYtNDBiZC04MzMyLWQwNGNhMTczMjJmNVwvZDFiZWQ2aS1iN2JiMzJkMC04OWNmLTQ5YWUtODIxMS05OTJjMjZlOTI4Y2QuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jdcIqmb4wtFbR5yTXIwD1_jNLNYLDGNVQM4qtS29Ob8");
    background-size: cover;
    background-position: center;
}


.box{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 500px;
    background-color: rgb(185, 195, 202);
    border-radius: 10px;
    opacity:0.8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.header{
    font-weight: bolder;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    font-size: 140%;
}

.result{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin-top: 8%;
    text-decoration:solid;
    color: red;
    font-size: 200%;
}

.blink{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2%;
    text-decoration:solid;
    color: red;
    font-size: 150%;
}

.description{
    font-weight: bold;
    margin-top: 8%;
    text-align: justify;
    width: 700px;
    line-height: 20px;
    width: 80%;
    background-color: rgb(215, 220, 224);
    padding: 5%;
    border-radius: 15px;
    margin-bottom: 3%;
}


.button{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a.retake{
    display: block;
    width: 150px;
    background-color: red;
    color: rgb(255, 255, 255);
    margin-right: 10%;
    padding:8px;
    border-radius: 5px;
}

a.home{
    display: block;
    width: 150px;
    background-color: rgb(155, 238, 203);
    margin-left: 10%;
    padding:8px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

a.retake:hover,a.home:hover{
    transform: scale(1.08);
}